/* Print */

@media print {

  html, body, .container {
    max-width: 100%;
  }
  @page {
    margin: 0.5cm;
  }
  img {
    max-width: 500px !important;
  }
  .btn , .footer,	a, #home-photo-john img {
    display: none;
  }

  #home-title::after {
    content: url('../img/photo-john.jpeg');
  }

  h2 {
    font-size: 60pt;
  }
  h4 {
    font-size: 24pt;
    page-break-inside: avoid;
  }
  h3 {
    font-size: 40pt;
  }
  #home-others-said::before {
    content: ' ';
  }
  #feedback-container::after {
    content: url('../img/others-feedback-md.png')
  }
}
